<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ask Dr.A3</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="center-container">
        <h1>Dr. Anything Anywhere Anytime (A3)</h1>
        <p>Hover over the body parts to what you want to know.</p>

        <div class="container">
            <img src="/images/human_body_diagram.png" alt="Human Body" id="humanBody">
            <div class="tooltip" id="tooltip"></div>
        </div>
    </div>

    <script src="/script.js"></script>
    
</body>
</html>
